In [ ]:
# Assignment

In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases. 
 A database refers to a collection of logically related information organized 
so that it can be easily accessible, managed, and updated. Databases are generally
accessed electronically from a computer system and are usually controlled by a
database management system (DBMS). 

# Differentiate between SQL and NoSQL databases.
SQL databases are relational, and NoSQL databases are non-relational.
SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Data Definition Language (DDL) is used to create and modify the structure of objects in 
a database using predefined commands and a specific syntax. these database objects include
tables, sequences, locations, aliases, schemas and indexes.

CREATE: This command is used to create a new table in SQL. The user has to give information like table name,
column names, and their datatypes.

ALTER : This command is used to add, delete or change columns in the existing table. The user needs to know the existing
table name and can do add, delete or modify tasks easily.

TRUNCATE: This command is used to remove all rows from the table, but the structure of the table still exists.

DROP : This command is used to remove an existing table along with its structure from the Database.

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML stands for Data Manipulation Language. Tables and formulas are helpful
when communicating with data stored up to a point in a database through SQL
(Structured Query Language), but a time comes when we actually want to execute
some fairly complicated data interactions. We will also need the Data Manipulation
Language in that situation. DML is a way to inform a database precisely what we
want it to do by conversing in a manner that it has been built to comprehend from
scratch. When it comes to interacting with existing data, whether adding, moving,
or deleting data, it provides a convenient way to do so.  
# The INSERT statement introduces new rows into an existing table.
# The DELETE statement removes a row or combination of rows from a table.
# The UPDATE statement enables users to update a row or group of rows in a table.

In [ ]:
# 4. What is DQL? Explain SELECT with an example.
DQL statements are employed to conduct inquiries on the
information contained in schema objects. The main purpose
of the DQL command is to provide a schema according to the
query written.
    
# SELECT :
The most utilized SQL statement is select. Data from a 
database can be retrieved or fetched using the SELECT 
Statement in SQL. Either the entire table or a subset 
of it can be retrieved. A result table contains the data 
that was returned. The result set also refers to this result
table. In the SELECT command, either we can show all the columns,
or we can get some specific columns in the result of the query 
according to the clause we use in the statement. The SELECT 
statement is analyzed by the database server, and it is determined 
which one is the first clause and which one is the last. This analysis
is very much needed because we have to be very cautious about which 
column should be included in the result and which one should not be included.

In [ ]:
# Q5. Explain Primary Key and Foreign Key.
Primary Key: A primary key is used to ensure that data in the specific column is unique.
A column cannot have NULL values. It is either an existing table column or a column that
is specifically generated by the database according to a defined sequence.

Foreign Key: A foreign key is a column or group of columns in a relational database table
that provides a link between data in two tables. It is a column (or columns) that references
a column (most often the primary key) of another table.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google")  
  
#printing the connection object   
print(myconn)

Cursor:  it  is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time
of Performing DML(Data Manipulation Language) operations on the Table by the User. Cursors are used to 
store Database Tables.

execute : the execute( ) method returns a boolean true to indicate that a result set is available

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
The order of execution of SQL Query optimizes the query, reduces the amount of data
to be processed, and affects the performance of the Query processing significantly. 
The order makes the SQL engine process the queries faster, and efficiently and obtains
optimized query results. Understanding this SQL query execution order helps to debug the
code, write efficient queries, and trace the output of SQL accurately.

# SELECT customer_ID, SUM(total_amount) AS “Total”
# FROM orders
# WHERE order_date BETWEEN ‘2022-01-01’ AND ‘2022-03-31’
# AND customer_city = ‘New York’
# GROUP BY customer_id
# ORDER BY Total DESC;